{
    "extends": "airbnb", 
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-indent": ["error", "tab"],
        "indent": ["error", "tab"],
        "no-tabs": 0,
        "react/require-default-props": 0
    }
}