@import 'sass-variables.scss';
@import 'login-user-input.scss';
@import 'project.scss';

html {
  min-width: 900px;
}

body {
  background-color: $grey;
  font-family: $roboto;
  color: $black;
  text-align: center;
  overflow-x: visible;

  #root {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .container {
    width: 100%;
    padding: 3em;

    .page-header {
      width: 100%;
      display: inline-flex;
      justify-content: flex-end;
      
      .logout-button {
        align-self: flex-end
      }
     }
  
    a {
      color: $blue;
      padding: .5em;
      cursor: pointer;
      &:hover {
        background-color: rgba(0,0,0,0.05);
      }
    }
  
  
    .projects {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  
    .ui.loader:after {
      border-color: $blue transparent transparent;
    }

  }
}

[class*='ui'] {
  font-family: $roboto !important;
}