.login-user-input {
  display: inline-block;
  min-width: 300px;
  max-width: 700px; }
  .login-user-input .ui.button {
    font-family: 'roboto';
    background-color: #5DC0EC; }
  .login-user-input .ui.success.message {
    color: #66ef54;
    box-shadow: 0 0 0 1px #66ef54 inset, 0 0 0 0 transparent; }
  .login-user-input .ui.error.message {
    color: #e9253a; }

.project {
  display: inline-flex;
  justify-content: flex-start;
  text-align: left;
  padding: 2em; }
  .project .header {
    text-decoration: none;
    color: #5DC0EC !important;
    padding-top: 1em; }
  .project .meta, .project .description {
    padding-left: .5em; }

.project-extended {
  width: 100%;
  min-width: 900px;
  height: 100%; }
  .project-extended .issues {
    display: flex;
    justify-content: space-evenly;
    margin: 2em;
    padding-bottom: 1em;
    border: 2px solid #3d3d3d; }
    .project-extended .issues .issues-column {
      display: inline-block;
      width: 24%; }
      .project-extended .issues .issues-column .issues-column-header {
        margin-top: 1em; }
      .project-extended .issues .issues-column .ui.card.issue {
        width: 98.5%;
        padding: 1em;
        text-align: left; }

.issue-extended {
  text-align: left; }
  .issue-extended .comment {
    display: inline-flex; }
    .issue-extended .comment .content {
      padding-left: 1em; }

html {
  min-width: 900px; }

body {
  background-color: #e6e6e6;
  font-family: "Roboto", sans-serif;
  color: #3d3d3d;
  text-align: center;
  overflow-x: visible; }
  body #root {
    width: 100%;
    display: flex;
    justify-content: space-around; }
  body .container {
    width: 100%;
    padding: 3em; }
    body .container .page-header {
      width: 100%;
      display: inline-flex;
      justify-content: flex-end; }
      body .container .page-header .logout-button {
        align-self: flex-end; }
    body .container a {
      color: #5DC0EC;
      padding: .5em;
      cursor: pointer; }
      body .container a:hover {
        background-color: rgba(0, 0, 0, 0.05); }
    body .container .projects {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
    body .container .ui.loader:after {
      border-color: #5DC0EC transparent transparent; }

[class*='ui'] {
  font-family: "Roboto", sans-serif !important; }

.u.modal.transition.visible.active .content > div {
  display: block; }

.ui.form .fields {
  display: block; }
  .ui.form .fields .field {
    padding-top: 1em; }

.field.inline-block {
  display: inline-block !important; }
