@import 'sass-variables.scss';

.login-user-input {
  display: inline-block;
  min-width: 300px;
  max-width: 700px;
  .ui.button {
    font-family: 'roboto';
    background-color: $blue;
  }
  .ui.success.message {
    color: $green;
    box-shadow: 0 0 0 1px $green inset, 0 0 0 0 transparent
  }
  .ui.error.message {
    color: $red;
  }
}
