@import 'sass-variables.scss';

.project {
  display: flex;
  justify-content: flex-start;
  text-align: left;

  .header {
    text-decoration: none;
    color: $blue !important;
  }

  .meta, .description {
    padding-left: .5em;
  }
}

.project-extended {
  width: 100%;
  min-width: 900px;
  height: 100%;
  overflow-x: scroll;

  .issues {
    display: flex;
    justify-content: space-evenly;
    margin: 2em;
    padding-bottom: 1em;
    border:2px solid $black;

    .issues-column {
      display: inline-block;
      width: 24%;

      .issues-column-header {
        margin-top: 1em;
      }
      
      .ui.card.issue {
        width: 98.5%;
        padding: 1em;
        text-align: left;
      }  
    }
  }
}
