$blue: #5DC0EC;

.project {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  .header {
    text-decoration: none;
    color: $blue !important;
  }
  .meta, .description {
    padding-left: .5em;
  }
}