.project {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  .header {
    text-decoration: none;
    color: $blue !important;
  }
  .meta, .description {
    padding-left: .5em;
  }
}

.project-extended {
  width: 100%;
  .issues {
    margin: 2em;
    border:2px solid $black;
    display: flex;
    flex-direction: column;
    .ui.card.issue {
      width: 25%;
    }
  }
}
