.project {
  display: flex;
  justify-content: flex-start;
  text-align: left; }
  .project .header {
    text-decoration: none;
    color: #5DC0EC !important; }
  .project .meta, .project .description {
    padding-left: .5em; }

.project-extended {
  width: 100%; }
  .project-extended .issues {
    display: flex;
    margin: 2em;
    border: 2px solid #3d3d3d; }
    .project-extended .issues .issues-column {
      display: inline-block;
      width: 25%; }
